body {
	text-align:center;
	background: linear-gradient(-45deg, #35577D, #141E30);
	margin: 0;
	padding: 0;
	color:white;
	/* background-image: url(../images/lucasface.jpg) */
}

#main-header {
	text-align:center;
	margin:10px;
	padding:5px;
}

#homeimg img{
	height:500px;
	width:500px;
	float:center;
	margin: 0 200px 0 200px;

}

#main_nav li{
	float:left;
	text-align:center;
	list-style-type:none;
	padding:0px;
	margin:0px;
}

a{
	background-color: ;
	padding:3px;
}